HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### My SQL Host Data ###
/volumes/data-mongo-product
/volumes/data-mysql-keycloak
/volumes/data-mysql-keycloak
/volumes/data-postgres-inventory
/volumes/data-postgres-order

/volumes/grafana/alerting
/volumes/grafana/csv
/volumes/grafana/plugins
/volumes/grafana/png
/volumes/grafana/storage
/volumes/grafana/*.db


